<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1"> 
    	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    	<link href="css/demo.css" rel="stylesheet">
		<title>vue</title>
	</head>
	<body>
		<div class="cent" id="vm">
			<h1 class="ti"><b>Todo List</b></h1>
			<div class="inp">
				<input class="inpx form-control" placeholder="输入待办事项" v-model="message" v-on:keyup.enter="add">
				<button type="button" class="btn btn-primary" v-on:click="add">ADD</button>
 			</div>
 			<div class="item">
 				<todo-item v-bind:todo="todos" v-bind:show="show"></todo-item>
 			</div>
 			<hr>
 			<div>
 				<p class="counter">待完成事项:{{count}}</p>
 				<p class="counter">已完成事项:{{done}}<button class="btn btn-danger buts" v-on:click="show= !show">▼</button></p>
 			</div>
 			 <div class="itemdid">
 				<did-item v-bind:did="dids" v-bind:show="show"></did-item>
 			</div>
 		</div>
		<script src="https://unpkg.com/vue"></script>
		<script type="text/javascript">
			Vue.component('todo-item',{
				props: ['todo'],
				template: '<ul><li class="list-group-item lis" v-for="(item,index) in todo"><span v-if="item.show">{{item.text}}</span><input class="form-control linput" v-model="item.text" v-if="!item.show"><button type="button" class="btn btn-info bute" v-on:click="item.show=!item.show, edit(index)">edit</button><button type="button" class="btn btn-danger butd" v-on:click="del(index)">X</button></li></ul>',
				methods: {
					del: function(index){
						if(this.todo[index].show == false&&this.todo[index].text == ''){
							this.todo.splice(index, 1);
							vm.count--;
						}
						else{
							vm.dids.push(this.todo[index]);
							this.todo.splice(index, 1);
							vm.done++;
							vm.count--;
						}
					},
					edit: function(index){
						if(this.todo[index].text == ''){
							this.todo.splice(index, 1);
							vm.count--;
						}
					}
				}
			})
			Vue.component('did-item',{
				props: ['did','show'],
				template: '<transition-group name="fade" v-if="!show"><h3 key="h"><b>已完成事项:</b></h3><ul key="ul"><li class="list-group-item lis" v-for="(item,index) in did">{{item.text}}</li></ul></transition-group>',
			})
			var vm = new Vue({
				el: "#vm",
				data: {
					todos: [],
					dids: [],
      				nextId: 0,
					message: "",
					count: 0,
					done: 0,
					show: true,
				},
				watch: {
    				todos: {
      					handler: function (todos, dids) {
       						this.save();
      					},
      					deep: true
    				}
    			},
				methods: {
					add: function(){
						if(this.message!=""){
							this.todos.push({id: this.nextId++,text: this.message,show: true});
							this.message = "";
							this.count++;
						}
					},
					fetch: function () {
    					var todos = JSON.parse(localStorage.getItem('todos') || '[]')
    					for(var index in todos){
    						this.todos.push(todos[index]);
    						var number = parseInt(index, 10);
    						this.count = number + 1;
    					}
    					var dids = JSON.parse(localStorage.getItem('dids')||'[]');
    					for(var index in dids){
    						this.dids.push(dids[index]);
    						var number = parseInt(index, 10);
    						this.done = number + 1;
    					}
  					},
  					save: function () {
    					localStorage.setItem('todos', JSON.stringify(this.todos));
    					localStorage.setItem('dids', JSON.stringify(this.dids));
  					}
  				},
			})
			vm.fetch();
		</script>
	</body>
</html>